[submodule "docs/scripts/core_scripts"]
	path = docs/scripts/core_scripts
	url = https://github.com/OS2borgerPC/os2borgerpc-core-scripts
[submodule "docs/scripts/community-scripts"]
	path = docs/scripts/community-scripts
	url = https://github.com/OS2borgerPC/os2borgerpc-community-scripts.git
